html { height: 100%; }
body{ font-size:0.8em; margin:0 auto; padding:0; color:#333; font-family: "微软雅黑"; background:#fbfbfb; height:100%;}
ul,li,dl,dt,dd,p,form,h1,h2,h3,h4,h5,h6,span,p,img,div,input{padding:0; margin:0;}
ul,li{list-style:none}
img{border:0;}
a{color:#333; text-decoration:none;}
a:hover{color:#333;}
.clear{clear:both;}
.red{ color:red;}
input,textarea,select{-webkit-tap-highlight-color:rgba(255,0,0,0);}
.color99{ color:#999;}


header{ height:3.2em; line-height:3.2em; font-size:1.17em;  color:#333; text-align:center; width:100%; display:block;  background:#f5c33c;   }
header .logo{position:absolute; left:0; background:url(../images/logo.png) no-repeat 0.7em center; background-size:auto 2.2em;height:3.125em; width:5.5em;}



.back{ position:absolute; left:0; background:url(../images/goback.png) no-repeat center center; background-size:auto 1.8em; width:2.81em; height:3.125em;  cursor:pointer;}
.back a{ display:block;width:2.82em; height:3.15em;}
.oper_btn{ position:absolute; right:0; top:0; width:3.7em; height:3.2em;  cursor:pointer; text-align:center;}
.oper_btn a{ display:block;}


#container{width:100%;overflow:auto;-webkit-transform:translate3d(0,0,0);}
#scroller {}
.space{ height:30px; display:block; clear:both;}
.content_box{ padding:15px;}
.date_input{ line-height:2.84em;}
.loading{ background:url(../images/loading.gif) no-repeat left center; background-size:auto 2.3em; font-size:1.2em; width:6.5em; padding-left:1.7em; height:1.7em; line-height:1.7em; margin:15px auto; cursor:pointer;}
.click_down{ background:url(../images/down.png) no-repeat left center; background-size:1.3em auto; font-size:1.2em; width:6.5em; padding-left:1.7em; height:1.7em; line-height:1.7em; margin:15px auto; cursor:pointer;}
.loaded{ text-align:center;font-size:1.2em; margin:15px auto; display:none;height:1.7em; line-height:1.7em;}
.more a{ display:block;}
.more_space{ height:10px;}



.footer{ height:4.5em; position:fixed; bottom:0;  background:#efefef; color:#333; text-align:center; width:100%; display:block; border-top:1px solid #c69a23; display:block; display:-webkit-box;display:-moz-box;}
.footer div{text-align:center; color:#333;box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;}
.footer div a{ display:block;color:#333; overflow:hidden; height:4.5em;}
.footer div.hover a{ background:#fff; color:#be8c00;}
.footer div span{ display:block;height:2.1em; margin-top:0.82em; width:100%; margin-bottom:0.1em;}

.footer div:first-child span{ background:url(../images/home.png) no-repeat center top; background-size:auto 2em;}
.footer div.hover:first-child span{ background:url(../images/home_hover.png) no-repeat center top; background-size:auto 2em;}
.footer div:nth-child(2) span{ background:url(../images/remind.png) no-repeat center top; background-size:auto 2em;}
.footer div.hover:nth-child(2) span{ background:url(../images/remind_hover.png) no-repeat center top; background-size:auto 2em;}

.footer div:nth-child(3) span{ background:url(../images/group.png) no-repeat center top; background-size:auto 2em;}
.footer div.hover:nth-child(3) span{ background:url(../images/group_hover.png) no-repeat center top; background-size:auto 2em;}


.footer div:nth-child(4) span{ background:url(../images/census.png) no-repeat center top; background-size:auto 2em;}
.footer div.hover:nth-child(4) span{ background:url(../images/census_hover.png) no-repeat center top; background-size:auto 2em;}
.footer div:nth-child(5) span{ background:url(../images/account.png) no-repeat center top; background-size:2.5em auto;}
.footer div.hover:nth-child(5) span{ background:url(../images/account_hover.png) no-repeat center top;  background-size:2.5em auto;}

.common_btn{ width:100%; height:3em; background:url(../images/btn_bg.png) repeat-x; background-size:auto 3em;border:1px solid #fd8e1d; border-radius:4px;-webkit-border-radius:4px; margin-top:15px; cursor:pointer; font-size:1.16em; color:#fff;}

.pwd_btn{ width:100%; height:3em; background:url(../images/pwd_bg.png) repeat-x; background-size:auto 3em;border:1px solid #ccd3dd; border-radius:4px;-webkit-border-radius:4px; margin-top:15px; cursor:pointer; font-size:1.16em; color:#333;}


.form_box{ display:block; display:-webkit-box;display:-moz-box; width:100%; margin-top:10px;}
.form_box label{width:5.2em; text-align:right; margin-right:5px; display:block;height:2.84em; line-height:2.84em;}
.form_box div{ box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;background:#fff; border:1px solid #ddd; border-radius:6px;-webkit-border-radius:6px;height:2.84em;padding-left:7px;}

.form_box .wj_radio{ background:none; border:none; padding-left:0;}
.form_box .wj_radio input{ width:1.34em; height:1.34em;}
.form_box div input{ width:100%; height:2.8em; border:none; background:none; outline:none;}
.form_box span{ margin-left:5px; color:#ff0000; height:2.84em; line-height:2.84em;}



.form_box div.sub_btn{ border:none; padding:0; height:37px;}
.form_box div.sub_btn input{ width:100%; height:37px; background:url(../images/btn_bg.png) repeat-x; border:1px solid #fd8e1d; border-radius:4px;-webkit-border-radius:4px; cursor:pointer; font-size:14px; color:#fff; margin-top:0;}
.add_form .form_box em{ color:red; font-style:normal; margin-right:10px;}

.form_box .select_bg{ height:2.84em; overflow:hidden; background-color:#fff; background-image:url(../images/arrow.png); background-repeat:no-repeat; background-position:95% center; border:1px solid #ddd;-moz-border-radius:6px; -webkit-border-radius: 6px;border-radius:6px;}
.form_box .select_bg{ margin-right:5px; padding-left:0;}
.form_box .select_bg select { padding:5px; background:transparent; border:none; height:2.84em; -webkit-appearance: none; width:100%; outline:none;}
.form_box .margin_none{ margin-right:0;}
.form_box .area{ margin-right:0; background-position:98% center;}

.form_box .wj_button{ background:none; border:none; padding-left:0; height:37px; margin-top:0;}
.form_box .common_btn{ width:100%; height:3em; background:url(../images/btn_bg.png) repeat-x; background-size:auto 3em; border:1px solid #fd8e1d; border-radius:4px;-webkit-border-radius:4px;  cursor:pointer;  font-size:1.16em; color:#fff; margin-top:0px;}
.form_box .wj_textarea{ height:8em;padding-left:5px; background:#fff; border:1px solid #ddd; border-radius:6px;-webkit-border-radius:6px; overflow:hidden; }

.add_form .form_infor{ clear:both; display:block; display:-webkit-box; margin-bottom:5px;  line-height:2em;}
.add_form .form_infor label{width:5.2em; text-align:right; height:2em; line-height:2em;display:block;margin-right:5px;}
.add_form .form_infor div{ box-flex:1;-webkit-box-flex:1;}

.send_message{ margin-top:10px; text-align:center; display:none;}

.submit_btn{ width:100%; height:34px; background:url(../images/btn_bg.png) repeat-x; border:1px solid #fd8e1d; border-radius:4px;-webkit-border-radius:4px; cursor:pointer; font-size:14px; color:#fff; margin-top:0; outline:none;}


.tab{ width:100%; height:2.5em; line-height:2.5em; margin-top:10px; overflow:hidden; border:1px solid #ddd; border-radius:6px;-webkit-border-radius:6px;}
.tab ul li{ float:left; width:50%; text-align:center;}
.tab ul li a{ display:block;}
.tab ul li a.current{ background:#eee;}

.common_tab{display:block; display:-webkit-box;display:-moz-box; height:3em; border-bottom:1px solid #ccc; font-size:1.2em;}
.common_tab div{ box-flex:1;-webkit-box-flex:1;-moz-box-flex:1; text-align:center; height:2.94em; line-height:2.94em;}
.common_tab div a{ display:block;}
.common_tab div a.current{border-bottom:3px solid #ffca39; color:#e28c12;}

.selected{background:url(../images/selected.png) no-repeat left center; background-size:auto 1em;  padding-left:1.8em;}
.unselected{ background:url(../images/unselect.png) no-repeat left center; background-size:auto 1em; padding-left:1.5em;}

.checked{background:url(../images/radio.png) no-repeat left center; background-size:auto 1.2em;  padding-left:1.6em;}
.unchecked{background:url(../images/unradio.png) no-repeat left center; background-size:auto 1.2em;  padding-left:1.6em;}

.ok_btn{border:none; background:none;background:url(../images/ok.png) no-repeat center 0.8em; padding-top:1.5em; background-size:1.5em auto; height:3.5em; width:3.7em; font-size:0.9em; color:#fff;}
.editors{background:url(../images/editor.png) no-repeat center center; background-size:1.7em auto; height:3.2em; width:3.7em;}

.form_box .backgroundnone{ border:1px solid #eee; }
.form_box .backgroundnone input{}
.form_box .backgroundnone select{color:#9f9f9f;}




/*5.22*/
.so_count{ position:absolute; top:5px; background:red; min-width:16px;  height:16px; line-height:16px; padding:2px; color:#fff; font-style:normal; border-radius:10px; font-size:12px; display:none;}
/*5.22*/



/*5.30*/
.page{ display:block;display:-webkit-box;display:-moz-box; margin-top:10px;}
.page div{box-flex:1;-webkit-box-flex:1;-moz-box-flex:1; -webkit-box-flex:1;-moz-box-flex:1;box-flex:1; height:30px; border:1px solid #ddd; text-align:center; line-height:30px; border-radius:4px; background: -webkit-linear-gradient( top,#f1f1f1,#e6e6e6);background:-moz-linear-gradient( top,#f1f1f1,#e6e6e6);background:-o-linear-gradient( top,#f1f1f1,#e6e6e6);}
.page div a{ display:block;}
.page .prev{  margin-right:5px;}
.page .next{ margin-left:5px;}
.page .pageNumber{ background:none; width:90px; border:none; -webkit-box-flex:0;-moz-box-flex:0;box-flex:0;}
.page .pageNumber span{ color:red; font-weight:bold;}
.page .disabled{ background:#f3f3f3; border:1px solid #e2e2e2; color:#999;}
/*5.30*/



.waging{ position:absolute; left:0; background:url(../images/more.png) no-repeat center center; background-size:26px auto; width:45px; height:47px;  cursor:pointer;}
.add_new{ position:absolute; right:0px; top:0; background:url(../images/add_new.png) no-repeat center center; background-size:25px auto; width:45px; height:47px;  cursor:pointer;}
.change_4s{position:absolute; right:0; top:0;-webkit-appearance:none; border:none; background:none; background:url(../images/change_4s.png) no-repeat center center; background-size:30px auto; width:45px; height:47px;  cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0.15);}
.waging a,.add_new a{ display:block;width:45px; height:47px;}

.waging_item{left:0;width:150px;}
.add_new_item{right:0;width:150px;}
.change_4s_item{position:absolute;left:0; top:47px; width:100%;border:1px #ddd solid; z-index:20;background:#f2f2f2;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.common_style{line-height:40px; background:#f2f2f2; position:absolute; top:47px;border:1px #ddd solid; z-index:20;}
.common_style ul li{ border-bottom:1px solid #e5e5e5; padding-left:32px;background-size:18px auto;}
.common_style ul li:last-child{ border:none;}
.common_style ul li a:hover{ color:#ff6600;}
.common_style ul li a{ display:block;}

.change_4s_item h3{ border-bottom:1px solid #ddd; height:35px; line-height:35px; padding-left:42px; background:url(../images/select.png) no-repeat 20px center; background-size:16px auto;}
.change_4s_item ul li{line-height:35px; padding-left:20px;border-bottom:1px solid #e5e5e5; }
.change_4s_item ul li:last-child{border:none;}
.change_4s_item ul li a{ display:block;}
.shadow{ background:rgba(0,0,0,0.6);position:absolute;left:0; top:47px;width:100%; height:100%; z-index:19; display:none;}

.hide{ display:none;}

/*6.23*/
.alert_total{background:url(../images/alert.png) no-repeat 5px center; background-size:24px auto; padding-left:40px;}
.common_list{ line-height:65px;font-size:16px; margin-top:-15px;}
.common_list ul li{ border-bottom:1px solid #e3e3e3;}
.common_list ul li a{background-size:24px auto; padding-left:40px;}
.common_list ul li.border3{  border-bottom:3px solid #e3e3e3; font-weight:normal;font-size:16px;}
.bus_alert{ background:url(../images/bus_list.png) no-repeat 5px center}
.bir_alert{ background:url(../images/birthday.png) no-repeat 5px center}
.weizhang_alert{ background:url(../images/weizhang.png) no-repeat 5px center}
.common_list a{ display:block;}

.editor_alert{background:url(../images/bus_edtior.png) no-repeat 5px center;}
.notice_alert{background:url(../images/notice_alert.png) no-repeat 5px center;}
.message_alert{background:url(../images/message_alert.png) no-repeat 5px center;}

.bus_data{background:url(../images/bus_data.png) no-repeat 5px center;}
.come_data{background:url(../images/come.png) no-repeat 5px center;}
.analyse_data{background:url(../images/analyse.png) no-repeat 5px center;}
.custom_data{background:url(../images/custom_data.png) no-repeat 5px center;}
.rank_data{background:url(../images/rank.png) no-repeat 5px center;}
.order_data{background:url(../images/market.png) no-repeat 5px center;}
.moring_data{background:url(../images/moring.png) no-repeat 5px center;}
.night_data{background:url(../images/night.png) no-repeat 5px center;}
.time_data{background:url(../images/time.png) no-repeat 5px center;}

.my_acctount{ background:url(../images/my_account.png) no-repeat 5px center; }
.add_buys{ background:url(../images/add_buy.png) no-repeat 5px center; }
.qa{ background:url(../images/qa.png) no-repeat 5px center; }
.help{ background:url(../images/help.png) no-repeat 5px center;}
.about{ background:url(../images/about.png) no-repeat 5px center;}
.version{ background:url(../images/version.png) no-repeat 5px center;}
.add_custom{ background:url(../images/add_custom.png) no-repeat 5px center;}
.add_business{ background:url(../images/add_business.png) no-repeat 5px center;}
.quit{ background:url(../images/quit.png) no-repeat 5px center;}
/*6.23*/

/*6.24*/
.date{ display:block; display:-webkit-box;display:-moz-box;}
.date a{ display:block; width:2.4em; height:2.4em; line-height:2.4em;}
.date div{box-flex:1;-webkit-box-flex:1;-moz-box-flex:1; text-align:center;}
.date span{ font-size:0.9em;}
.date a.sub{ background:url(../images/sub.png) no-repeat center center; background-size:0.8em auto;}
.date a.add{ background:url(../images/plus.png) no-repeat center center; background-size:0.8em auto;}
.date a.plus_disabled{ background:url(../images/plus_disabled.png) no-repeat center center; background-size:0.8em auto;}
/*6.24*/