.data_tab{ border-bottom:1px solid #ddd; overflow:hidden;   height:2.5em; line-height:2.5em; }
.data_tab ul li{ float:left; width:33.3%; text-align:center;}
.data_tab ul li a{ display:block; margin-left:10px; margin-right:5px;}
.data_tab ul li a.current{ background:#ddd;}

.select_car{  margin:15px auto 0px;}
.select_date{  margin:10px auto 15px;}
.sheet_style{ margin-top:5px;}
.select_custom{margin:15px auto;}

.performance{ background:#ddd; line-height:3em; margin-top:5px;}
.performance th{ background:#efefef;}
.performance td{ background:#fff; text-align:center;}


.ratio{ margin-top:15px;background:#ddd; ine-height:3em; }
.ratio td{ background:#fff; padding-left:5px;}
.ratio th{ background:#efefef;}

.sheet_list li{ float:left; width:33.3%; overflow:hidden; height:8.4em; text-align:center; margin-bottom:20px;}
.sheet_list li span{ width:100%; height:5em; display:block; margin-bottom:5px;}
.sheet_list li span.business{ background:url(../images/business.png) no-repeat center top; background-size:5em auto;}
.sheet_list li span.result{ background:url(../images/result.png) no-repeat center top; background-size:5em auto;}
.sheet_list li span.message{ background:url(../images/message.png) no-repeat center top; background-size:5em auto;}
.sheet_list li span.end{ background:url(../images/end.png) no-repeat center top; background-size:5em auto;}
.sheet_list li span.sheet{ background:url(../images/sheet.png) no-repeat center top; background-size:5em auto;}
.sheet_list li span.order{ background:url(../images/order.png) no-repeat center top; background-size:5em auto;}

/*3.19修改总经理权限*/
.sheet_list{ margin-top:20px; overflow:hidden;}
.date{  text-align:center; height:2.4em; line-height:2.4em; font-size:1.17em;  padding-bottom:10px;}
.sheet_cate{ margin-bottom:5px;}
.sheet_cate span{ color:red; font-weight:bold;}


.date_box{display:block; display:-webkit-box;display:-moz-box; margin-top:10px;}
.date_box div{box-flex:1;-webkit-box-flex:1;-moz-box-flex:1; text-align:center; border:1px solid #ddd; background:#fff; border-radius:6px;-webkit-border:6px; width:50%;}
.date_box .number{ margin-right:10px;}
.date_box div h3{ margin:10px; margin-bottom:5px; border-bottom:1px solid #ddd; padding-bottom:5px; font-size:1em;}
.date_box div ul{ line-height:1.9em; margin-bottom:5px;}

.date_box div ul li{ text-align:left; padding-left:15px;}
.date_box div ul li span{ color:red; margin-left:3px; margin-right:3px;}
.date_title{ margin-top:15px; font-size:1.17em;font-weight:bold; text-align:center;}
/*3.19修改总经理权限*/


/*3.19总经理新增*/
.sheet_list li a{ display:block;}
.data_top{display:block; display:-webkit-box;display:-moz-box;border-bottom:1px dashed #ddd;}
.data_top div{box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;}
.address{ width:8em;height:2.84em;line-height:2.84em;}
.address select{ padding:5px;background:transparent; border:none; height:2.84em; -webkit-appearance: none;outline:none;height:2.84em; overflow:hidden; background-color:#fff; background-image:url(../images/arrow.png); background-repeat:no-repeat; background-position:93% center; border:1px solid #ddd;-moz-border-radius:6px; -webkit-border-radius: 6px;border-radius:6px; width:7em;}
.address span{ float:left;}
/*3.19总经理新增*/

/*04.01*/
.sheet_time{ margin-top:10px; line-height:22px;}
.sheet_time span{ color:green;}
/*04.01*/

/*5.13修改*/
.data_top{display:block; display:-webkit-box;display:-moz-box; border:none;}
.performance  a{ color:#006dd2; text-decoration:underline; display:block;}
.performance td.go_pass{ text-align:left; padding:8px 5px;line-height:22px;}
.date_title span{ color:red;}
.performance  tr.thead td{ font-weight:bold;}
.performance  tr.thead td span{ color:red;}
/*5.13修改*/