.my_search{ margin-top:0; border-bottom:1px solid #dddddd; padding:5px 10px; background:#fdeeda;}
.my_search_box{ display:block;display:-webkit-box;display:-moz-box; width:100%; background:#fff; border-radius:6px; border:1px solid #ddd;}
.my_search_box .search_input{box-flex:1;-webkit-box-flex:1;-moz-box-flex:1; }
.my_search_box .search_input input{ width:100%; height:2.5em;-webkit-appearance:none; border:none; background:none;padding-left:5px;}
.my_search_box .search_btn{ width:3em;}
.my_search_box .search_btn input{ background:none; border:none;background:url(../images/search.png) no-repeat center center;-webkit-appearance:none; background-size:auto 1.5em; width:3em; height:2.5em;}
.cate_list{ overflow:hidden; margin-top:10px;}
.cate_list ul li{ float:left; width:33.33%; text-align:center; margin-top:5px; margin-bottom:3px;}
.cate_list ul li .cate_name{ margin-top:5px;}
.cate_list ul li .circle{width:3.4em; height:3.4em; margin:0 auto; border-radius:1.8px;-webkit-border-radius:1.8em;background-repeat:no-repeat; background-position:center center; background-size:2em auto;}
.cate_list ul li .yixiang{ background-color:#1a8c10; background-image:url(../images/yixiang.png);}
.cate_list ul li .ydwj{ background-color:#f63876; background-image:url(../images/ydwj.png);}
.cate_list ul li .baoyou{ background-color:#3ba5f3; background-image:url(../images/baoyou.png);}
.cate_list ul li .zhanbai{ background-color:#ec813b; background-image:url(../images/zhanbai.png);}
.cate_list ul li .tuiding{ background-color:#ea89c0; background-image:url(../images/tuiding.png);}
.cate_list ul li .tuiche{ background-color:#fe5e44; background-image:url(../images/tuiche.png);}
.cate_list ul li .daiwanshan{ background-color:#48b2c0; background-image:url(../images/daiwanshan.png); position:relative;}
.cate_list ul li .shilian{ background-color:#47b43d; background-image:url(../images/shilian.png);position:relative;}
.cate_list ul li .suoyou{ background-color:#bf7af9; background-image:url(../images/suoyou.png); background-size:2.3em auto;}
.ws_count{ background:red; min-width:1.6em;  height:1.6em; line-height:1.6em; padding:2px;font-size:0.8em;position:absolute; right:-5px; top:-5px; color:#fff; border-radius:1em;}

.today{ display:block; display:-webkit-box;;display:-moz-box; margin-top:5px;}
.today .today_left{ width:50%; box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1; margin-right:3px;height:90px; background:#fdeedb;border:1px solid #d5d5d5; font-size:18px; }
.today .today_right{width:50%; box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1; margin-left:3px;height:90px; background:#fdfad7;border:1px solid #d5d5d5; font-size:18px;}
.today div{ height:45px; line-height:45px; border-bottom:1px solid #d5d5d5;}

.today span em{ font-style:normal; color:red;}
.today .today_bussiness span{ margin-left:20px; background:url(../images/yingye.png) no-repeat left center; background-size:24px auto; padding-left:34px;}
.today .enter span{ margin-left:20px; background:url(../images/jindian.png) no-repeat left center; background-size:24px auto; padding-left:34px;}
.today .order span{ margin-left:30px; background:url(../images/dingdan.png) no-repeat left center; background-size:24px auto; padding-left:34px;}
.today .order span{ margin-left:30px; background:url(../images/dingdan.png) no-repeat left center; background-size:24px auto; padding-left:34px;}
.today .order_car span{ margin-left:30px; background:url(../images/sold_car.png) no-repeat left center; background-size:24px auto; padding-left:34px;}
.today_right div:last-child,.today_left div:last-child{ border:none;}
.today  a{ display:block;}