.public_tab{ border-bottom:1px solid #ddd; overflow:hidden; height:2.5em; line-height:2.5em;  }
.public_tab ul li{ float:left; width:50%; text-align:center;}
.public_tab ul li a{ display:block; margin-left:10px; margin-right:5px;}
.public_tab ul li a.current{ background:#ddd;}


.sort_list{ background:#ddd; line-height:2.8em;}
.sort_list th{ background:#efefef;}
.sort_list td{ background:#fff; text-align:center;}

.sort_list tbody tr:nth-child(1){ color:red;}
.sort_list tbody tr:last-child{ color:green;}

.sort_list th span{ background:url(../images/icon_down.png) no-repeat left center; background-size:auto 0.4em; padding:1em 0.5em; margin-left:3px;}

.search{ margin:15px 0px; background:#fff; border:1px solid #ddd; height:3em; line-height:3em; border-radius:6px;-webkit-border-radius:6px;}
.search .search_box{ float:left;  width:18em; overflow:hidden;}
.search div input{ width:100%; background:none;border:none; padding-left:5px; outline:none;height:2.5em;}

.search .search_sub{ background:url(../images/search.png) no-repeat center center; border:none; background-size:auto 1.67em; width:3em; height:3em; outline:none; float:right;}

.notice_list{ line-height:3.5em;}
.notice_list ul li{ border-bottom:1px solid #e5e5e5; padding-left:5px; height:3.5em; }
.notice_list ul li span{ color:#999;}
.notice_list ul li.system{ background:url(../images/settings.png) no-repeat 5px center; background-size:1.4em auto;padding-left:2em;}
.notice_list ul li a{ display:block;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

.search_result{ font-weight:bold; margin-bottom:10px;}
.notice_title{ font-size:1.17em; text-align:center; margin-bottom:10px;}
.notice_content{ line-height:1.6em;}

.notice{ margin-bottom:120px;}

.search_tip{  text-align:center; margin-top:10px; color:#ff0000; display:none;}