body{font-size:12px;margin:0 auto;padding:0;color:#333;font-family:"微软雅黑";}
ul,li,dl,dt,dd,p,form,h1,h2,h3,h4,h5,h6,span,p,img,div,input{padding:0px; margin:0px;}
ul,li{list-style:none}
img{border:0;}
a{color:#333; text-decoration:none;}
a:hover{color:#ff6600;}
.clear{clear:both; }
.red{color:#F00;}
.left{ float:left;}
.right{ float:right;}
.color99{ color:#999;}

.banner{margin:0 auto;margin-top:10px; width:1000px;}
.banner img{ vertical-align:bottom;}
.banner .right_adv{ float:right;}
.banner .left_adv{ float:left; margin-right:10px;}

.item{margin:0 auto;margin-top:10px;margin-bottom:15px; width:998px; border:1px solid #ddd; overflow:hidden; padding:20px 0px;}
.item ul li{ float:left; width:332px; text-align:center; border-right:1px solid #ccc;}



.case_list{margin-top:10px; margin-bottom:15px; width:750px; overflow:hidden;}
.case_list h3{ font-size:16px; font-weight:normal; border-bottom:1px solid #ddd; height:30px; }
.case_list h3 span{ height:30px; float:left; padding:0px 8px; border-bottom:1px solid #ff6600;}
.case_list ul li{ float:left; width:160px; padding:10px 0px; height:120px; overflow:hidden;border:1px solid #ddd; margin-left:22px; display:inline; margin-top:15px; text-align:center; font-size:14px;}
.case_list ul li a img{ margin-bottom:5px;}

.main{margin:0 auto;width:999px;overflow:hidden; background:url(../images/main_bg.jpg) repeat-y left top; }
.main .main_left{ float:left; width:224px; overflow:hidden;}
.main .main_left h1{ height:53px; background:#eaeaea; border-bottom:1px solid #ddd; line-height:53px; border-top:4px solid #eda700; margin-left:1px; font-size:20px; font-weight:normal; padding-left:10px;}
.main .main_left ul{ margin-left:1px;}
.main .main_left ul li{ line-height:41px; border-bottom:1px solid #ddd; font-size:14px; background:url(../images/left_icon.png) 10px center no-repeat; padding-left:22px;}
.main .main_left ul li.current{ background-color:#f2f3f3; }
.main .main_left ul li.current a{color:#ff6600; font-weight:bold;}
.main .main_left ul li a{ display:block;}
.main_right{ float:right; width:757px;}
.main_right h3{ margin-top:12px; border-bottom:1px solid #ddd; height:45px; line-height:45px; font-size:18px; font-weight:normal;}
.main_right h3 span{ height:45px; float:left; padding:0px 8px; border-bottom:1px solid #ff6600;}

.news_list{ line-height:35px; color:#a3a3a3; margin-top:10px; margin-bottom:10px;}
.news_list ul li{border-bottom:1px solid #ebebeb; background:url(../images/icon.png) no-repeat 5px center; padding-left:20px;}
.news_list ul li a{  color:#949393;}
.news_list ul li a:hover{ color:#ff6600;}
.news_list ul li span{ float:right; margin-right:5px;}

.page{ text-align:center; margin:20px auto;}
.page a{height:26px;line-height:26px; border:1px solid #c1c1c1; display:inline-block; width:30px; text-align:center;position: relative; margin:0px 3px;color:#333; background:#f6f6f6;}
.page a:hover{color:#333; text-decoration:underline;}
.page a.pagePrev{ width:55px; padding-top:1px;height:26px; line-height:26px;}
.page a.pageNext{width:55px; padding-top:1px;height:26px; line-height:26px;}
.page a.current{ background:#ffba00; border:1px solid #eca128; color:#fff; font-weight:bold;}

.about_content{ padding:15px; margin-bottom:20px; overflow:hidden; line-height:25px;}

.common_content{margin:10px auto; margin-bottom:15px;width:1000px;overflow:hidden; }
.common_title h3{ height:40px; line-height:40px; border-bottom:1px solid #ddd; font-size:18px; font-weight:normal;}
.common_title h3 span{height:40px; float:left; padding:0px 8px; border-bottom:1px solid #ff6600;}
.download{ margin-top:25px;}
.android{ background:#ebebeb; width:340px; padding:15px; float:left; height:330px; margin-bottom:30px;}
.apple{background:#ebebeb; width:340px; padding:15px; float:right; height:330px;margin-bottom:30px;}
.download h3{ font-size:22px; font-weight:normal;}
.down_intro{ margin-top:10px; overflow:hidden;}
.down_intro span{ float:left; display:block;}
.down_intro span.ver{ width:95px;}
.down_intro span.size{ width:95px;}

.down_style{ float:left; width:199px; text-align:center; }
.down_style_01{ width:140px;}
.down_name{ font-size:16px; margin-top:25px; margin-bottom:10px;font-weight:bold;}
.other_down{ text-align:left; margin-top:10px; font-size:13px; line-height:25px;}
.other_down span{ color:red;}
.down_btn{ margin-top:20px;}

.member{ margin:20px auto; border:2px solid #dddddd; overflow:hidden;}
.reg_left{ margin:30px 0px 40px 40px; padding:10px; width:552px;  border-right:1px solid #ddd; float:left; display:inline;}
.reg_left h1{ font-size:16px; font-weight:normal; border-bottom:1px solid #ddd; width:510px; padding-bottom:10px; padding-left:10px;}
.reg_left ul{ margin-top:35px;}
.reg_left ul li label{ width:80px; float:left; text-align:right; font-size:14px; margin-top:8px;}
.reg_left ul li{ margin-bottom:20px; clear:both; height:32px;}
.member_input{ background:none; border:none;float:left; margin-right:6px; background:url(../images/push_03.jpg) no-repeat; width:200px; height:32px; line-height:32px\9; padding-left:4px; outline:none; color:#666;}
.reg_left ul li span{ float:left;height:32px; line-height:32px; }
.sub_btn{ background:none; border:none; background:url(../images/push_33.png) no-repeat; width:103px; height:35px; font-size:14px; font-weight:bold; color:#fff; cursor:pointer;}
.reg_right{ float:right; width:310px; margin-top:30px; padding-top:40px; font-size:14px;}
.oper_now a{ background:url(../images/push_35.png) no-repeat; width:103px; height:35px; line-height:35px; text-align:center; font-size:14px; font-weight:bold; color:#fff; display:block; margin-top:12px;}
.forget{ float:left; margin-top:9px; margin-left:8px;}
.forget a{ color:#006dd2;}
.error{ background:url(../images/icon_error.gif) no-repeat left center; padding-left:20px;color: #d32300;}

.reg_tip{ float:left; margin-top:9px; margin-left:8px; color:#ff0000;}

.add_input{ background:none; border:none;float:left; margin-right:6px; background:url(../images/push_03.jpg) no-repeat; width:200px; height:32px; line-height:32px\9; padding-left:4px; outline:none; color:#666;}

.member_left{ margin:30px 0px 40px 30px; padding:10px; width:470px;  float:left; display:inline;border-right:1px dashed #ddd; height:280px;}
.member_left h1{ font-size:16px; font-weight:normal;border-bottom:1px solid #ddd; width:450px; padding-bottom:10px; padding-left:10px;}
.member_left ul{ margin-top:35px;}
.member_left ul li label{ float:left; margin-right:15px;height:32px; line-height:32px;}
.member_left ul li span{ float:left; width:60px; text-align:right; margin-right:10px;height:32px; line-height:32px;}
.member_left ul li{ margin-bottom:20px; clear:both; height:32px;}
.price_input{ background:none; border:none;margin-left:6px; background:url(../images/price_input.jpg) no-repeat; width:65px; height:32px; line-height:32px\9; padding-left:4px; outline:none; color:#666;}
.member_left ul li label input{ margin-right:5px;}
.member_right{ width:430px; float:left; padding-left:25px; line-height:25px; margin-top:25px; margin-bottom:15px; }
.member_right p{ margin-bottom:20px;}
.member_right p .intro_title{ font-weight:bold; color:red;}


.background{position:fixed;_position:absolute;z-index:998;top:0px;left:0px;width:100%;_width:expression(document.documentElement.clientWidth);height:100%;_height:expression(document.documentElement.clientHeight);background:rgb(50,50,50);background:rgba(0,0,0,0.3);}
.webox{position:fixed;_position:absolute;z-index:999;padding:8px;border:solid 1px #666;_background:#777;background:rgba(10,10,10,0.3);}
.webox #inside{background-color:#FFFFFF;height:240px;}
.webox #inside h1{-moz-user-select:none;-webkit-user-select:none;position:relative;display:none;margin:0;padding:0;font-size:13px;line-height:30px;height:30px;padding-left:5px;font-family:Arial;background:#F1F7FC;font-weight:normal;cursor:move;font-weight:800;color:#000;}
.webox #inside h1 a{position:absolute;display:block;right:6px;margin-top:6px;top:0px;font-size:14px;background-image:url(../images/close.fw.png);background-repeat:no-repeat;background-position:center top;width:17px;height:17px;cursor:pointer;display:inline-block;}
.webox #inside h1 a:hover{background-position:center bottom;}

.success{ width:300px; margin:0 auto; padding:25px;}
.success_tip{ background:url(../images/ok.png) no-repeat left center; height:37px; line-height:37px; padding-left:50px; font-size:30px;}
.your_order{ font-size:14px; font-weight:bold; margin-top:10px;}
.success ul{ line-height:26px; font-size:14px; margin-top:10px;}
.success ul li span{ color:red;}
.close_btn{ background:none; border:none; background:url(../images/push_35.png) no-repeat; width:103px; height:35px; font-size:14px; font-weight:bold; color:#fff; cursor:pointer;}
.closed{ margin-top:10px; text-align:center;}
.news_title{ font-size:16px; font-weight:bold; text-align:center;  margin-top:20px;}
.news_txt{ line-height:25px; padding:0px 10px; margin-bottom:15px;}
.news_txt p{ margin-bottom:10px; text-indent:2em;}
.news_time{ text-align:center; color:#999; margin-bottom:10px; margin-top:10px;}
.wait{ margin-top:15px; color:#ff0000;}

.product{  border:1px solid #ddd; width:998px; padding:20px 0px; overflow:hidden; margin:15px auto;}
.product_box{ margin:20px; border-bottom:1px solid #ddd; overflow:hidden; padding:20px 0px;}
.product_pic{}
.product_intro{line-height:30px; margin-left:40px;  font-size:14px; margin-top:40px;}
.product_intro h3{ font-size:30px; font-weight:normal; margin-bottom:15px; line-height:40px;}

.products{ width:1000px;  overflow:hidden; margin:15px auto;}
.micard ul li{ float:left; width:100%;}
.micard ul li img{ vertical-align:bottom;}

/*3.25修改*/
.header{ height:90px;background-color:#f5f5f5; background-image:url(../images/top_bg.png); background-repeat:repeat-x; background-position:left bottom; overflow:hidden;}
.top{ width:1000px; margin:0 auto; height:86px; background:#f5f5f5;}
.logo{ float:left;  display:inline; width:317px; height:90px;}
.logo a{ display:block; background:url(../images/logo.png) no-repeat center center;width:317px; height:90px;}

.top_right .nav li a{ display:block;}
.top_right .nav li.active{ background:url(../images/menu_bg.png) no-repeat center 40px;}
.top_right .nav li.hover{ background:url(../images/menu_bg.png) no-repeat center 40px;}
.top_right .nav li.hover a{ color:#ff6600;}

.top_right .nav li{ float:left; width:100px; text-align:center; font-size:14px;}
.top_right{ float:right; width:600px; text-align:right;}
.top_right .share{  margin-top:12px; height:25px; float:right; width:180px; overflow:hidden;}
.top_right .share span{ float:left; margin-top:5px;}

.top_right .nav{ height:50px; line-height:50px;}
.login{ float:left; margin-top:15px; font-size:14px; margin-left:35px; text-align:right;  height:25px; width:350px;}
.login a{ color:#006dd2;}
.login .login_out a{ color:#777; margin-right:5px;}

.member_item{ margin:30px 30px 40px 0px; padding:10px; width:500px;  float:left; display:inline;border-right:1px dashed #ddd; height:280px; line-height:30px;}
.member_item_right{ float:right; width:400px; margin-top:30px; padding-top:40px; font-size:14px; line-height:25px;}
.system,.peixun,.kaoshi{  margin-top:20px; clear:both; overflow:hidden; border-bottom:1px dashed #ddd; padding-bottom:15px;}
.kaoshi{ border:none;}
.member_item h3{ font-size:30px; padding-left:40px; font-weight:normal; color:#666;margin-left:150px;}
.member_item .system h3{ background:url(../images/system.png) no-repeat left center;}
.member_item .peixun h3{ background:url(../images/peixun.png) no-repeat left center;}
.member_item .kaoshi h3{ background:url(../images/kaoshi.png) no-repeat left center;}
.member_item a{ color:#006dd2;}
.member_item ul{ margin-top:15px; margin-bottom:15px;margin-left:150px;}
.member_item ul li{ float:left; width:100px; font-size:16px;}

.help_list{border-bottom:1px solid #ddd; margin-top:8px; line-height:24px; clear:both; overflow:hidden;}
.help_list h2{ font-size:14px; color:#666;line-height:25px; margin-bottom:5px;}
.a_title{ width:20px; color:green; float:left;}
.a_text{ float:left; width:720px;}
.help_box{ }
.help_content{background:#efefef; overflow:hidden; padding:0.5em; margin-bottom:10px;}
.help_list .on{color:#cc0033;}
.video{ margin-top:25px; width:750px; margin-bottom:20px;}
.vido_title{ text-align:center; font-size:14px; font-weight:bold; margin-bottom:10px;}


.member_items{ margin:30px 30px 40px 0px; padding:10px; width:530px;  float:left; display:inline;border-right:1px dashed #ddd; height:280px; line-height:30px;}
.item_list{ margin-left:10px; margin-top:35px;}
.item_list ul li{ padding-bottom:15px;  overflow:hidden; float:left; width:220px; margin-bottom:25px; margin-left:20px; display:inline;}
.item_list ul li dt{ float:left; margin-left:5px; margin-right:10px; width:60px; height:60px; overflow:hidden;}
.item_list ul li dd{ float:left; width:140px; height:50px; overflow:hidden; margin-top:10px;}
.list_title{ font-size:24px; margin-top:5px; color:#666;}
.item_list ul li a{color:#006dd2;}
.e_system{ margin-top:15px;}
.items{ margin-top:10px; font-size:16px;}
.items a{ float:left; width:100px;}
/*3.25修改*/

/*4.8修改*/
.buy_title{ margin-top:30px; font-size:14px; font-weight:bold;}
.buy_title span{ font-size:12px; font-weight:normal;}
.buy ul{ margin-top:25px; margin-left:50px;}
.buy ul li{ float:left; margin-right:15px;height:32px; line-height:32px;}
.buy ul li span{ float:left; width:60px; text-align:right; margin-right:10px;height:32px; line-height:32px;}
.buy ul li{ margin-bottom:20px; clear:both; height:32px;}
.price_input{ background:none; border:none;margin-left:6px; background:url(../images/price_input.jpg) no-repeat; width:65px; height:32px; line-height:32px\9; padding-left:4px; outline:none; color:#666;}

.price_table{ margin:10px 0px; background:#cacaca; line-height:40px; margin-bottom:30px;}
.price_table th{ background:#e8e8e8;}
.price_table td{ background:#fff; text-align:center;}
.price{ color:red;}
.buy_intro{margin-bottom:20px; line-height:25px;}
.buy_intro span{ color:red;}

.footer{ border-top:1px solid #ddd; background:#efefef; height:50px; line-height:50px; text-align:center; }
.footer_content{width:1000px; margin:0 auto; position:relative;}
.footer_content .weibo{ position:absolute; right:0; top:10px; height:30px; line-height:30px;}
.footer_content .weibo a{ float:left; margin-left:10px;}
.contact_infor{ margin-top:25px; font-size:14px;}
/*4.8修改*/


/*返回顶部*/
#back-to-top{position:fixed;display:none;bottom:100px;right:80px;}
#back-to-top a{text-align:center;color:#999; display:block;width:60px;}
#back-to-top a:hover{color:#979797;}
#back-to-top a span{background:url(../images/go_top.png) no-repeat;display:block;height:60px; width:60px;margin-bottom:5px;}
/*返回顶部*/

.e_code{ position:fixed; _position:absolute; z-index:50; width:140px; height:180px; top:100px; right:10px;}
.qr_close a{ color:#999;}
.contact_left{ float:left; width:450px; height:200px; line-height:40px;}
.contact-right{ width:200px; float:left; text-align:center;}

.exam_txt{ margin-bottom:15px; line-height:25px;}
.exam_title{ background:#efefef; line-height:36px; height:36px; padding-left:5px; font-weight:bold;}
.exam_content{ margin-top:5px; padding-left:5px;}
