.title {
    margin-bottom: 25px;
}

.blog-brief {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px 0;
    border-top: 1px solid #ccc;
}

.blog-brief__img {
    height: 180px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-brief__info {
    font-size: 12px;
}