body
{
    background: none repeat scroll 0 0 #fff;
    color: #444;
    font: 14px/160% "Microsoft YaHei","微软雅黑",Helvetica,Arial,Lucida Grande,Tahoma,sans-serif;
}

a{text-decoration: none; color:#444}

#page
{
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    padding: 0;
}

#header
{
    margin: 0 0 10px 0;
    padding: 0;
}

#banner
{
    padding: 0px;
}

#content
{

}

#sidebar
{
    padding: 0px 0px 0px 0;
}

#footer
{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    width: auto;
    border-radius: 3px;
    padding: 15px 0;
    text-align: center;
    margin: 10px 0px;
}

#logo
{
    padding: 10px 20px;
    font-size: 200%;
    float: left;
}
#search
{
    padding: 5px 0px;
    float: right;
}
#keyword
{
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 30px;
    padding: 0 5px;
    background: none repeat scroll 0 0 #fff;
    color: #999;
}
#search_submit
{
    background: none repeat scroll 0 0 #04a4cc;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    height: 30px;
    margin: 1px 0 0;
    width: 60px;
}
#mainmenu
{
    background:none repeat scroll 0 0 #04a4cc;
    font-size: 14px;
    height: 40px;
    margin: 0 0 10px 0;
}

#mainmenu ul
{
    list-style: none outside none;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

#mainmenu ul li
{
    border-left: 1px solid #008eb2;
    border-right: 1px solid #82c1e5;
    float: left;
    height: 40px;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

#mainmenu ul li a
{
    color: #fff;
    display: block;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    background: #0195ba;
    color: #fff;
    display: block;
    text-decoration: none;
    line-height: 40px;
    padding: 0 20px 0 20px;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 0px 0px;
    margin:0px 0px 5px 5px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

#content h4
{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 0 10px;
    padding: 10px;
    font-size: 1em;
}

div.post
{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    margin: 0 0 10px;
    padding: 10px 20px;
    position: relative;
    border-radius: 3px;
}
div.post .title
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    font-size: 15px;
    margin: 0 0 5px;
}
div.post .title a
{
    font-size: 15px;
    font-weight: bold;
    color: #444;
    text-decoration: none;
}

div.post .nav
{
    color: #8b8b8b;
    margin: 0 0 10px;
}

div.portlet
{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    margin: 0 0 10px;
    border-radius: 3px;
}
div.portlet .portlet-title
{
    border-bottom: 1px solid #ccc;
    height: 31px;
    line-height: 31px;
}
div.portlet .portlet-content
{
    padding: 5px 10px;
}

div.portlet .portlet-content ul
{
    padding: 0;
    margin:0;
    list-style: none;
}

div.portlet .portlet-content ul li
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 99%;
}

.post span.tag
{
    float:left;
}
.post span.more
{
    float:right;
}
.post span.more a
{
    background: none repeat scroll 0 0 #04a4cc;
    border: 1px solid #04a4cc;
    bottom: -1px;
    color: #fff;
    padding: 0 8px;
    border-radius: 3px;
}
.post span.more a:hover
{
    background: #fff;
    color: #444;
    border: 1px solid #ccc;
}
.post .content p
{
    margin:0px 0px 6px 0px;
    line-height: 24px;
}

#comments h3
{
    background: none repeat scroll 0 0 #fff;
    border: 0px solid #ccc;
    border-radius: 3px;
    margin: 0 0 10px;
    padding: 10px 0 0 0;
    font-size: 14px;
    font-weight: bold;
}
#comments .comment
{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 0 10px;
    padding: 10px 15px;
    word-break: break-all;
    word-wrap: break-word;
}
#comments .comment span
{
    color:#999;
}
#reply
{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 0 10px;
    padding: 10px 20px;
}
#reply span.required
{
    color: #FF0000;
}
#reply input
{
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
    margin: 10px 0px 5px 0;
    padding: 0 5px;
    width: 40%;
    float: left;
}
#reply label
{
    margin: 10px 0px 5px 5px;
    padding: 0px 5px;
    float: left;
    text-align: left;
    height: 30px;
    line-height: 30px;
}
#reply .help-block
{
    margin: 10px 0px 5px 5px;
    padding: 0px 5px;
    float: left;
    text-align: left;
    height: 30px;
    line-height: 30px;
    color:#F00;
}
#reply .form-group
{
    margin-bottom: 5px;
}
#reply textarea
{
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 150px;
    margin: 10px 0px 5px 0;
    padding: 0 5px;
    width: 80%;
    float: left;
}
#reply .buttons input
{
    background: none repeat scroll 0 0 #04a4cc;
    color:#FFF;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 0 10px 10px 0;
    padding: 5px;
    width: 40%;
}
#reply .errorMessage
{
    color:red;
}
#reply .btn-success
{
    width: 300px;
}


@font-face {
    font-family: 'ality';
    src:url('ality.eot?v3mxfj');
    src:url('ality.eot?#iefixv3mxfj') format('embedded-opentype'),
    url('ality.woff?v3mxfj') format('woff'),
    url('ality.ttf?v3mxfj') format('truetype'),
    url('ality.svg?v3mxfj#ality') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'ality';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-date:before {
    content: "\e600";
}
.icon-cat:before {
    content: "\e601";
}
.icon-comment:before {
    content: "\e602";
}
.icon-views:before {
    content: "\e603";
}
.icon-edit:before {
    content: "\e604";
}
.icon-home_h a:before {
    content: "\e606";
}
.icon-st:before {
    content: "\e609";
}
.icon-search:before {
    content: "\e607";
}
.icon-login:before {
    content: "\e608";
}
.icon-scroll_t:before {
    content: "\e60a";
}
.icon-scroll_c:before {
    content: "\e60b";
}
.icon-scroll_b:before {
    content: "\e60c";
}
.icon-down:before {
    content: "\e605";
}
.icon-simple-menu:before {
    content: "\e601";
}
.icon-bulletin:before {
    content: "\e60d";
}
.icon-right:before {
    content: "\e60f";
}
.icon-left:before {
    content: "\e60e";
}
.icon-close:before {
    content: "\e610";
}
.icon-share:before {
    content: "\e611";
}
.icon-img:before {
    content: "\e612";
}
.icon-qzone:before {
    content: "\e613";
}
.icon-tsina:before {
    content: "\e614";
}
.icon-tqq:before {
    content: "\e615";
}
.icon-renren:before {
    content: "\e616";
}
.icon-weixin:before {
    content: "\e617";
}
.icon-more:before {
    content: "\e618";
}
.icon-smiley:before {
    content: "\e619";
}
.icon-link:before {
    content: "\e61a";
}
.icon-date, .icon-cat, .icon-comment, .icon-views, .icon-edit, .icon-bulletin {
    font-size: 12px;
    color: #bababa;
    margin: 0 3px 0 0;
}
.icon-bulletin {
    font-size: 14px;
    color: #999;
    margin: 0 5px 0 0;
}
.icon-st {
    float: left;
    background: #fff;
    width: 34px;
    height: 30px;
    font-size: 24px;
    color: #888;
    line-height: 30px;
    text-align: center;
    margin: 0 8px 0 0;
    border-right: 1px solid #ccc;
}
.icon-link {
    color: #04a4cc;
    margin: 0 5px;
    text-indent: 0;
    cursor: pointer;
}