body{ font-size:12px; margin:0 auto; padding:0; color:#333; font-family: "微软雅黑"; background:#fbfbfb;}
ul,li,dl,dt,dd,p,form,h1,h2,h3,h4,h5,h6,span,p,img,div,input{padding:0; margin:0;}
ul,li{list-style:none}
img{border:0;}
a{color:#333; text-decoration:none;}
a:hover{color:#333;}
.clear{clear:both;}
.red{ color:red;}
.color99{ color:#999;}

.container{ padding:15px;}
.banner{ text-align:center; overflow:hidden;}
.banner img{ max-width:100%;}

.about_title{ font-size:18px; font-weight:bold; margin-bottom:10px;}
.about_content{ line-height:25px;}

.guess_pic{text-align:center;}
.guess_pic img{ max-width:600px;}
.form_title{ text-align:center;font-size:18px; font-weight:bold; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #ddd;}

.add_form{ font-size:14px;}
.form_box{ display:block;display:-webkit-box; display:-moz-box; margin-bottom:10px;}
.form_box div{ box-flex:1; -webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1; height:36px; line-height:36px; overflow:hidden;}
.form_box span{ width:45px; display:block; height:36px; line-height:36px; text-align:right;}
.form_box div.price{ height:72px; border:none; background:none;}
.form_box div{ border:1px solid #ddd; border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px; background:#fff;}
.form_box div input[type='tel'],.form_box div input[type='text']{ width:100%; padding-left:5px; height:36px; border:none; background:none;}
.form_box div input.price_input{ width:60px; border:1px solid #ddd;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px; height:30px;}
.form_box div label{ width:58px; display:block; float:left;}
.form_box div label.price_label{ width:170px;}

.form_box div label input[type='radio']{background:transparent; border:none;  -webkit-appearance: none; background:url(images/unradio.png) no-repeat left center; background-size:auto 14px;height:14px; width:14px; margin-right:3px;}
.form_box div label input[type='radio']:checked{background:transparent; border:none;  -webkit-appearance: none; background:url(images/radio.png) no-repeat left bottom; background-size:auto 14px;height:14px; width:14px;}

.form_box div.btn{ background:none; border:none;}
.form_box div.btn input{background:transparent; border:none;  -webkit-appearance: none; background:#ff8433; height:36px; width:100%;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px; color:#fff;}

.intro{ line-height:25px; margin-top:10px;}
.intro p{ margin-bottom:20px;}
.intro p .intro_title{ font-weight:bold; color:red;}


/*----- 干货样式 -----*/
.news_banner{ text-align:center; overflow: hidden;}
.news_banner img { margin:0 auto; max-width:100%;}

.news_list{ padding:0px 10px;}
.news_list ul li{
	padding: 10px 0;
	border-bottom: 1px solid #ECEEF0;
    box-shadow: 0 1px 1px #FFFFFF;
    overflow: hidden;}
.news_list ul li h2 {
	height:22px;
	line-height:22px;
	overflow:hidden;
	font-size:14px;
	font-weight:normal;
	color:#000;
	text-overflow:ellipsis;
	white-space: nowrap;
	padding-left:5px;
	margin-bottom:4px;}
.news_list ul li .pic {
    width: 75px; 
    height: 55px; line-height: 51px;
    padding: 1px; background: #e9f1f4;
    border: 1px solid #e0e0e0;
    float: left;
    text-align: center;
}
.news_list ul li .pic img{
    display: inline-block;
    max-width: 100%; max-height: 100%;
    margin: 0 auto; vertical-align: middle;
}
.news_list ul li p {
    padding: 0 0 0 5px;
    line-height: 17px; 
	font-size: 1em;
    word-wrap:break-word; overflow: hidden;
    max-height: 34px; color: #878c92;
}

.news_content{ margin:20px; line-height:1.5em;}
.news_content .news_title{ font-size:20px;}
.news_content .news_time{padding-bottom: 2px;color: #8c8c8c; margin-top:5px;}
.news_content .txt{ font-size:14px; line-height:30px;}
.news_content .txt p{ text-indent:2em;}

.reg_tip{ height:40px; line-height:40px; color:#ff0000; text-align:center; display:none;}
